<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta
		name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
	>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./styles.css" />
	<title>Truchet Painter</title>
</head>
<body>

<div
	id="app"
>
	<div>
		<canvas
			ref="a"
			v-bind="aProps"
			v-on="drawHandlers"
		></canvas>
		<canvas
			ref="b"
			v-bind="bProps"
		></canvas>
	</div>
	<div
		class="colors"
	>
		<button
			v-for="color in colors"
			:style="{
				backgroundColor: '#' + color,
				width: this.buttonSize,
				height: this.buttonSize,
			}"
			@click="setBrushColor('#' + color)"
		></button>
	</div>
	<div>
		<label>
			<span>brushSize</span>
			<input
				type="range"
				v-model="brushSize"
				step="1"
				min="1"
				max="20"
			/>
		</label>
	</div>
	<div>
		<label>
			<span>randomSeed</span>
			<input
				type="range"
				v-model="randomSeed"
				step="1"
				min="1"
				max="255"
			/>
		</label>
	</div>
</div>
<div>Inspiration: <a href="https://twitter.com/MrmoTarius/status/1474359705787064322" target="_blank">"Cherry Blossom" by Mrmo Tarius</a></div>
<div>Also this hell yeah: <a href="https://twitter.com/MrmoTarius/status/1474334106754371585" target="_blank">And this editor? Yeeeeah~</a></div>
<div>See also: <a href="https://en.wikipedia.org/wiki/Truchet_tiles#Quarter-circles" target="_blank">Truchet Tiles on Wikipedia</a></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/vue/3.2.32/vue.global.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js"></script>
<script src="./index.js"></script>
</body>
</html>
