* {
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.5em;
}
body {
	padding: 32px;
	background-color: #000;
	color: #999;
	font-family: monospace;
	font-size: 24px;
}
a {
	color: #9f0;
}

button,
canvas {
	border: 1px solid #333;
	image-rendering: pixelated;
}
button.active {
	border: 1px solid #eee;
}

label {
	display: block;
	margin: 4px;
	border: 1px solid #333;
	padding: 4px;
}
label > span {
	display: block;
}
label > input {
	display: block;
	width: 100%;
}
